<!DOCTYPE html>
<html>
<head>
    <title>Workflow History</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="container">
    <h2>Workflow Version History</h2>
    <form method="POST" action="/compare/{{workflow_id}}">
        <table>
            <tr>
                <th>Version 1</th>
                <th>Version 2</th>
                <th>Version Number</th>
                <th>Date</th>
            </tr>
            {% for v in versions %}
            <tr>
                <td><input type="radio" name="version1" value="{{v[0]}}" required></td>
                <td><input type="radio" name="version2" value="{{v[0]}}" required></td>
                <td>{{v[0]}}</td><td>{{v[1]}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <button type="submit">Compare Versions</button>
    </form>
</div>
</body>
</html>